pkgbase = python-rpds-py
	pkgdesc = Python bindings to the Rust rpds crate for persistent data structures
	pkgver = 0.17.1
	pkgrel = 2
	url = https://github.com/crate-py/rpds
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-maturin
	makedepends = python-installer
	depends = glibc
	depends = gcc-libs
	depends = python
	source = python-rpds-py::git+https://github.com/crate-py/rpds#commit=9c07d534116bc9823121959f035393ce58fd447e
	b2sums = SKIP

pkgname = python-rpds-py
